<a href="https://colab.research.google.com/github/S4T0R-ab/Ciclo-formativo_PretaLab/blob/main/Exerc%C3%ADcios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*Para a realização desses exercícios, peço que configurem para não aparecer sugestões da IA Gemini*

### A) **Utilizando variáveis, gere uma apresentação curta de sí mesma, como nesse exemplo**:

In [ ]:
# Oi! Eu sou a Amanda, tenho 30 anos, moro em Salvador e meu signo é Gêmeos

In [21]:
# Dica: As variáveis podem ser algo como:
nome = 'Amanda'
idade = 30
cidade = 'Salvador'
signo = 'Gêmeos'

In [54]:
# Resposta aqui:
# Variáveis
nome = 'Esther'
idade = 25
cidade = 'Belo Horizonte'
signo = 'Escorpião'
curiosidade = 'Amo estudar'
trabalho = 'tecnologia há quase dois anos'
pretensão = 'desenvolver através da tecnologia, estratégias de e-commerce'
# Apresentação
apresentacao = f"Oi! Eu sou a {nome}, tenho {idade} anos, moro em {cidade} e meu signo é {signo}. Eu {curiosidade} e estou na área de {trabalho}. \nTento {pretensão}, mais especificamente em comportamento de consumo."

# Exibindo a apresentação
print(apresentacao)

Oi! Eu sou a Esther, tenho 25 anos, moro em Belo Horizonte e meu signo é Escorpião. Eu Amo estudar e estou na área de tecnologia há quase dois anos.
Tento desenvolver através da tecnologia, estratégias de e-commerce, mais especificamente em comportamento de consumo.



---

### B) **Qual o maior valor dessa lista de gastos?**

In [29]:
gastos = [10.60, 11.99, 5.50, 10, 45.99, 7.50, 4.00]

In [27]:
# O valor mais caro é: 45.99

In [30]:
# Resposta aqui
gastos = [10.60, 11.99, 5.50, 10, 45.99, 7.50, 4.00]
maior_gasto = max(gastos)
print(maior_gasto)

45.99



---

### C) **Qual a média dessa lista?**:

In [ ]:
numeros = [10,80,50,90,70]

In [ ]:
# A média dos números é: 60.0

In [31]:
# Resposta aqui
numeros = [10, 80, 50, 90, 70]
media = sum(numeros) / len(numeros)
print(media)

60.0



---

### D) **Qual a média final dessas notas, qual a maior e qual a menor nota**

In [34]:
notas = [10,7.8, 6, 8, 9]

In [32]:
# A média final é 8.16. A sua maior nota foi 10 e a menor nota foi 6!

In [35]:
# Resposta aqui
media = sum(notas) / len(notas)
maior_nota = max(notas)
menor_nota = min(notas)
print(f"A média final é {media}. A sua maior nota foi {maior_nota} e a menor nota foi {menor_nota}!")

A média final é 8.16. A sua maior nota foi 10 e a menor nota foi 6!



---

### E) **Com as mesmas informações do exercício anterior, apresente se a aluna foi APROVADA ou REPROVADA**

*  Se a média for igual ou superior a 6 apresentar a mensagem "Parabéns, você foi APROVADA!"
*  Se a média for menor, apresentar "Não foi dessa vez, infelizmente você foi REPROVADA!"

In [ ]:
# Parabéns você foi aprovada!

In [37]:
# Resposta aqui
media = sum(notas) / len(notas)
if media >= 6:
    print("Parabéns, você foi APROVADA!")
else:
    print("Não foi dessa vez, infelizmente você foi REPROVADA!")

Parabéns, você foi APROVADA!



---

### F) **Desenvolva um programa que realize as quatro operações básicas (adição, subtração, multiplicação e divisão) entre dois números. A usuária deve escolher a operação e inserir os valores**

In [ ]:
#Digite o primeiro número: 10
#Digite o segundo número: 20
#Digite a operação (+, -, *, /): +
#Resultado: 30.0

In [38]:
# Resposta aqui
# Solicita os números ao usuário
numero1 = float(input("Digite o primeiro número: "))
numero2 = float(input("Digite o segundo número: "))

# Solicita a operação ao usuário
operacao = input("Digite a operação (+, -, *, /): ")

# Realiza a operação escolhida e exibe o resultado
if operacao == '+':
    resultado = numero1 + numero2
elif operacao == '-':
    resultado = numero1 - numero2
elif operacao == '*':
    resultado = numero1 * numero2
elif operacao == '/':
    # Verifica se o segundo número não é zero antes de realizar a divisão
    if numero2 != 0:
        resultado = numero1 / numero2
    else:
        resultado = "Erro: Divisão por zero não é permitida!"
else:
    resultado = "Operação inválida!"

# Exibe o resultado
print("Resultado:", resultado)

Digite o primeiro número: 5
Digite o segundo número: 7
Digite a operação (+, -, *, /): +
Resultado: 12.0

In [55]:
# Funções para operações
def adicionar(a, b):
    return a + b

def subtrair(a, b):
    return a - b

def multiplicar(a, b):
    return a * b

def dividir(a, b):
    if b != 0:
        return a / b
    else:
        return "Erro: Divisão por zero não é permitida!"

# Dicionário para mapear operações
operacoes = {
    '+': adicionar,
    '-': subtrair,
    '*': multiplicar,
    '/': dividir
}

# Solicita os números ao usuário
numero1 = float(input("Digite o primeiro número: "))
numero2 = float(input("Digite o segundo número: "))

# Solicita a operação ao usuário
operacao = input("Digite a operação (+, -, *, /): ")

# Realiza a operação escolhida e exibe o resultado
if operacao in operacoes:
    resultado = operacoes[operacao](numero1, numero2)
else:
    resultado = "Operação inválida!"

# Exibe o resultado
print("Resultado:", resultado)

Digite o primeiro número: 8
Digite o segundo número: 5
Digite a operação (+, -, *, /): 30
Resultado: Operação inválida!



---

### G) **Faça um Programa que leia três números e mostre-os em ordem decrescente.**

In [39]:
# Resposta aqui
# Solicita os três números ao usuário
numero1 = float(input("Digite o primeiro número: "))
numero2 = float(input("Digite o segundo número: "))
numero3 = float(input("Digite o terceiro número: "))

# Coloca os números em uma lista
numeros = [numero1, numero2, numero3]

# Ordena a lista em ordem decrescente
numeros.sort(reverse=True)

# Exibe os números em ordem decrescente
print("Números em ordem decrescente:", numeros)

Digite o primeiro número: 10
Digite o segundo número: 20
Digite o terceiro número: 30
Números em ordem decrescente: [30.0, 20.0, 10.0]



---

### H) **Faça uma função que retorne o reverso de um número inteiro informado. Por exemplo: 153 -> 351**

In [40]:
# Resposta aqui
def inverter_numero(numero):
    # Converte o número para string, inverte a string e depois converte de volta para inteiro
    numero_invertido = int(str(numero)[::-1])
    return numero_invertido

# Exemplo de uso da função
numero = 153
resultado = inverter_numero(numero)
print(resultado)  # Saída: 351

351



---

### I) **Faça um programa que solicite o nome do usuário e imprima-o em formato de escada.**

In [41]:
#Digite seu nome: amanda
#a
#am
#ama
#aman
#amand
#amanda

In [42]:
# Resposta aqui
# Solicita o nome do usuário
nome = input("Digite seu nome: ")

# Imprime o nome em formato de escada
for i in range(1, len(nome) + 1):
    print(nome[:i])

Digite seu nome: Esther
E
Es
Est
Esth
Esthe
Esther